@model IEnumerable<LeagueOrganizer.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h2>All Teams</h2>
@foreach (var team in Model)
{
    <br />
    <span>
        @Html.ActionLink(team.Name, "Details", new { id = team.TeamId }) |
        @Html.ActionLink("Edit", "Edit", new { id = team.TeamId }) |
        @Html.ActionLink("Delete", "Delete", new { id = team.TeamId})
    </span>

}
<br/><br />
@Html.ActionLink("Create New Team", "Create")
