@{
    ViewData["Title"] = "Home Page";
}

<h2>Sports League Organizer</h2>

@Html.ActionLink("View all Divisions", "Index", "Divisions", null)
@Html.ActionLink("View all Teams", "Index", "Teams", null)
@Html.ActionLink("View all Players", "Index", "Players", null)